* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	position: relative;
	height: 100vh;
	background-color: #050505;
	width: 100%;
	overflow: hidden;
}

.stars {
	position: absolute;
	/* background-color: rgb(250, 250, 250); */
	transition: 1s;
}
